/* Defaults */
:root {
	--font-family: -apple-system, system-ui, sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
}

/* Color palette */
:root {
  /* https://oklch.fyi/color-palettes/gray */
  --gray-1: oklch(0.162 0.000 0.0);
  --gray-2: oklch(0.195 0.000 0.0);
  --gray-3: oklch(0.254 0.000 0.0);
  --gray-4: oklch(0.302 0.000 0.0);
  --gray-5: oklch(0.348 0.000 0.0);
  --gray-6: oklch(0.396 0.000 0.0);
  --gray-7: oklch(0.459 0.000 0.0);
  --gray-8: oklch(0.549 0.000 0.0);
  --gray-9: oklch(0.649 0.000 0.0);
  --gray-10: oklch(0.720 0.000 0.0);
  --gray-11: oklch(0.863 0.000 0.0);
  --gray-12: oklch(0.933 0.000 0.0);
  /* https://oklch.fyi/color-palettes/purple */
  --purple-1: oklch(0.183 0.027 295.0);
  --purple-2: oklch(0.214 0.038 295.0);
  --purple-3: oklch(0.279 0.075 295.0);
  --purple-4: oklch(0.330 0.105 295.0);
  --purple-5: oklch(0.376 0.129 295.0);
  --purple-6: oklch(0.427 0.151 295.0);
  --purple-7: oklch(0.495 0.172 295.0);
  --purple-8: oklch(0.581 0.192 295.0);
  --purple-9: oklch(0.637 0.185 295.0);
  --purple-10: oklch(0.690 0.174 295.0);
  --purple-11: oklch(0.853 0.107 295.0);
  --purple-12: oklch(0.924 0.063 295.0);
  /* https://oklch.fyi/color-palettes/blue */
  --blue-1: oklch(0.181 0.028 252.0);
  --blue-2: oklch(0.212 0.039 252.0);
  --blue-3: oklch(0.277 0.077 252.0);
  --blue-4: oklch(0.328 0.107 252.0);
  --blue-5: oklch(0.374 0.131 252.0);
  --blue-6: oklch(0.425 0.152 252.0);
  --blue-7: oklch(0.493 0.172 252.0);
  --blue-8: oklch(0.579 0.191 252.0);
  --blue-9: oklch(0.629 0.187 252.0);
  --blue-10: oklch(0.682 0.176 252.0);
  --blue-11: oklch(0.849 0.107 252.0);
  --blue-12: oklch(0.921 0.063 252.0);
}

/* Light theme colors */
:root {
  --color-gray-bg: var(--gray-12);
  --color-gray-md: var(--gray-6);
  --color-gray-fg: var(--gray-1);

  --color-purple-bg: var(--purple-12);
  --color-purple-md: var(--purple-7);
  --color-purple-fg: var(--purple-1);

  --color-blue-bg: var(--blue-12);
  --color-blue-md: var(--blue-7);
  --color-blue-fg: var(--blue-1);
}

/* Theme color assignments */
:root {
	--background-color: var(--color-gray-bg);
	--text-color: var(--color-gray-fg);

	--text-color-link: var(--color-blue-fg);
	--text-color-link-active: var(--color-blue-fg);
	--text-color-link-visited: var(--color-purple-fg);

	--syntax-tab-size: 2;
}

/* Dark theme colors */
@media (prefers-color-scheme: dark) {
	:root {
  --color-gray-bg: var(--gray-2);
  --color-gray-md: var(--gray-6);
  --color-gray-fg: var(--gray-12);

  --color-purple-bg: var(--purple-1);
  --color-purple-md: var(--purple-7);
  --color-purple-fg: var(--purple-11);

  --color-blue-bg: var(--blue-1);
  --color-blue-md: var(--blue-7);
  --color-blue-fg: var(--blue-11);
	}
}


/* Global stylesheet */
* {
	box-sizing: border-box;
}

@view-transition {
	navigation: auto;
}

html,
body {
	padding: 0;
	margin: 0 auto;
	font-family: var(--font-family);
	color: var(--text-color);
	background-color: var(--background-color);
}
html {
	overflow-y: scroll;
}
body {
	max-width: 40em;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* Fluid images via https://www.zachleat.com/web/fluid-images/ */
img{
  max-width: 100%;
}
img[width][height] {
  height: auto;
}
img[src$=".svg"] {
  width: 100%;
  height: auto;
  max-width: none;
}
video,
iframe {
	width: 100%;
	height: auto;
}
iframe {
	aspect-ratio: 16/9;
}

p:last-child {
	margin-bottom: 0;
}
p {
	line-height: 1.5;
}

li {
	line-height: 1.5;
}

a[href] {
	color: var(--text-color-link);
}
a[href]:visited {
	color: var(--text-color-link-visited);
}
a[href]:hover,
a[href]:active {
	color: var(--text-color-link-active);
}

main,
footer {
	padding: 1rem;
}
main :first-child {
	margin-top: 0;
}

header {
	border-bottom: 1px dashed var(--color-gray-md);
}

#skip-link {
	text-decoration: none;
	background: var(--background-color);
	color: var(--text-color);
	padding: 0.5rem 1rem;
	border: 1px solid var(--color-gray-fg);
	border-radius: 2px;
}

/* Prevent visually-hidden skip link fom pushing content around when focused */
#skip-link.visually-hidden:focus {
	position: absolute;
	top: 1rem;
	left: 1rem;
	/* Ensure it is positioned on top of everything else when it is shown */
	z-index: 999;
}

.links-nextprev {
	display: flex;
	justify-content: space-between;
	gap: .5em 1em;
	list-style: "";
	border-top: 1px dashed var(--color-gray-md);
	padding: 1em 0;
}
.links-nextprev > * {
	flex-grow: 1;
}
.links-nextprev-next {
	text-align: right;
}

table {
	margin: 1em 0;
}
table td,
table th {
	padding-right: 1em;
}

pre,
code {
	font-family: var(--font-family-monospace);
}
pre:not([class*="language-"]) {
	margin: .5em 0;
	line-height: 1.375; /* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	overflow-x: auto;
}
code {
	word-break: break-all;
}

/* Header */
header {
	display: flex;
	gap: 1em;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
}
.home-link {
	flex-grow: 1;
	font-size: 1em; /* 16px /16 */
	font-weight: 700;
}
.home-link:link:not(:hover) {
	text-decoration: none;
}

/* Nav */
.nav {
	display: flex;
	gap: .5em 1em;
	padding: 0;
	margin: 0;
	list-style: none;
}
.nav-item {
	display: inline-block;
}
.nav-item a[href]:not(:hover) {
	text-decoration: none;
}
.nav a[href][aria-current="page"] {
	text-decoration: underline;
}

/* Posts list */
.postlist {
	counter-reset: start-from var(--postlist-index);
	list-style: none;
	padding: 0;
	padding-left: 1.5rem;
}
.postlist-item {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	counter-increment: start-from -1;
	margin-bottom: 1em;
}
.postlist-item:before {
	display: inline-block;
	pointer-events: none;
	content: "" counter(start-from, decimal-leading-zero) ". ";
	line-height: 100%;
	text-align: right;
	margin-left: -1.5rem;
}
.postlist-date,
.postlist-item:before {
	font-size: 0.8125em; /* 13px /16 */
	color: var(--color-gray-fg);
}
.postlist-date {
	word-spacing: -0.5px;
}
.postlist-link {
	font-size: 1.1875em; /* 19px /16 */
	font-weight: 700;
	flex-basis: calc(100% - 1.5rem);
	padding-left: .25em;
	padding-right: .5em;
	text-underline-position: from-font;
	text-underline-offset: 0;
	text-decoration-thickness: 1px;
}
.postlist-item-active .postlist-link {
	font-weight: bold;
}

/* Tags */
.post-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	font-style: italic;
}
.postlist-item > .post-tag {
	align-self: center;
}

/* Tags list */
.post-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: .5em;
	list-style: none;
	padding: 0;
	margin: 0;
}
.post-metadata time {
	margin-right: 1em;
}
